@model Computer_Store.Entities.ItemDetail
{
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Company</th>
                <th>Ram</th>
              
            </tr>
        </thead>
        <tbody>
            
            
                <tr>
                    <td>@Model.Product_Name</td>
                    <td>@Model.Company</td>
                    <td>@Model.Ram</td>
                  
                   
                </tr>
            
        </tbody>
    </table>
}